
#p2 {
    font-size: 1.25em;
    font-family: "Roboto Condensed", sans-serif;
}

#p3 {

    font-size: 1.25em;
    font-family: "Roboto Condensed", sans-serif;

}

#h2c  {
    font: size 10px;;
    font-family: "Roboto Condensed", sans-serif;

}

#div1 {
    background-color:darkgoldenrod;
}

#span1 {

    background-color: lightblue;
    font-weight: bold;
    color: red;

}

